
._api.lcdoc
._AppleImagingDemo.oxtstack
._OXT_AppleIImagingLib.lcb
._OXTAniIcon.gif
GIF Sequencce/._.DS_Store
GIF Sequencce/._OXT_animated1.gif
GIF Sequencce/._Test 0.gif
GIF Sequencce/._Test 1.gif
GIF Sequencce/._Test 2.gif
GIF Sequencce/._Test 3.gif
GIF Sequencce/._Test 4.gif
GIF Sequencce/._Test 5.gif
GIF Sequencce/._Test 6.gif
GIF Sequencce/._Test 7.gif
GIF Sequencce/._Test 8.gif
GIF Sequencce/._Test 9.gif
GIF Sequencce/.DS_Store
support/._.DS_Store
support/.DS_Store
